main {
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg");
    background-size: 100% 100%;
}
p {
    font-size: 80px;
}